In [1]:
import pandas as pd
import numpy as np

In [15]:
company = pd.read_excel('Company_wise.xlsx')

In [16]:
company.rename(columns={'Bond\nNumber':'Bond Number'},inplace=True)

In [17]:
company.head(5)

,Sr No.,Reference No (URN),Journal Date,Date of\nPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond Number,Denominations,Issue Branch Code,Issue Teller,Status
0,1,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11448,"10,00,000",1,5899230,Paid
1,2,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11447,"10,00,000",1,5899230,Paid
2,3,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11441,"10,00,000",1,5899230,Paid
3,4,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,OL,1113,"1,00,000",1,5899230,Paid
4,5,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,OL,1118,"1,00,000",1,5899230,Paid

In [19]:
party = pd.read_excel('Party_wise.xlsx')

In [20]:
party.head(5)

,Sr No.,Date of Encashment,Name of the Political Party,Account no. of Political Party,Prefix,Unnamed: 5,Bond Number,Denominations,Pay Branch Code,Pay Teller
0,1,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,NaN,775,10000000,800,2770121
1,2,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,NaN,3975,10000000,800,2770121
2,3,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,NaN,3967,10000000,800,2770121
3,4,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,NaN,10418,1000000,800,2770121
4,5,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,NaN,126,1000000,800,2770121

In [21]:
df_inner = pd.merge(company, party, on='Bond Number', how='inner')

In [22]:
df_inner.head(5)

,Sr No._x,Reference No (URN),Journal Date,Date of\nPurchase,Date of Expiry,Name of the Purchaser,Prefix_x,Bond Number,Denominations_x,Issue Branch Code,...,Status,Sr No._y,Date of Encashment,Name of the Political Party,Account no. of Political Party,Prefix_y,Unnamed: 5,Denominations_y,Pay Branch Code,Pay Teller
0,1,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11448,"10,00,000",1,...,Paid,2766,2019-04-25 00:00:00,BHARATIYA JANATA PARTY,*******8244,TL,NaN,1000000,691,3300196
1,1,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11448,"10,00,000",1,...,Paid,12752,2022-11-18 00:00:00,"PRESIDENT, ALL INDIA CONGRESS COMMITTEE",*******4012,OC,NaN,10000000,691,8212066
2,11034,00001202211150000002706,2022-11-15,2022-11-15,2022-11-29,IFB AGRO INDUSTRIES LIMITED,OC,11448,"1,00,00,000",1,...,Paid,2766,2019-04-25 00:00:00,BHARATIYA JANATA PARTY,*******8244,TL,NaN,1000000,691,3300196
3,11034,00001202211150000002706,2022-11-15,2022-11-15,2022-11-29,IFB AGRO INDUSTRIES LIMITED,OC,11448,"1,00,00,000",1,...,Paid,12752,2022-11-18 00:00:00,"PRESIDENT, ALL INDIA CONGRESS COMMITTEE",*******4012,OC,NaN,10000000,691,8212066
4,2,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11447,"10,00,000",1,...,Paid,2767,2019-04-25 00:00:00,BHARATIYA JANATA PARTY,*******8244,TL,NaN,1000000,691,3300196

In [26]:
df_new = df_inner[['Sr No._x','Bond Number','Date of\nPurchase','Name of the Purchaser','Name of the Political Party','Denominations_x','Status']]

In [27]:
df_new.head(5)

,Sr No._x,Bond Number,Date of\nPurchase,Name of the Purchaser,Name of the Political Party,Denominations_x,Status
0,1,11448,2019-04-12,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid
1,1,11448,2019-04-12,A B C INDIA LIMITED,"PRESIDENT, ALL INDIA CONGRESS COMMITTEE","10,00,000",Paid
2,11034,11448,2022-11-15,IFB AGRO INDUSTRIES LIMITED,BHARATIYA JANATA PARTY,"1,00,00,000",Paid
3,11034,11448,2022-11-15,IFB AGRO INDUSTRIES LIMITED,"PRESIDENT, ALL INDIA CONGRESS COMMITTEE","1,00,00,000",Paid
4,2,11447,2019-04-12,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid

In [31]:
df_test = df_new[df_new['Name of the Political Party'] == 'BHARATIYA JANATA PARTY']

In [32]:
df_test

,Sr No._x,Bond Number,Date of\nPurchase,Name of the Purchaser,Name of the Political Party,Denominations_x,Status
0,1,11448,2019-04-12,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid
2,11034,11448,2022-11-15,IFB AGRO INDUSTRIES LIMITED,BHARATIYA JANATA PARTY,"1,00,00,000",Paid
4,2,11447,2019-04-12,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid
6,11401,11447,2022-12-09,WESTWELL GASES PRIVATE LIMITED,BHARATIYA JANATA PARTY,"1,00,00,000",Paid
8,3,11441,2019-04-12,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid
...,...,...,...,...,...,...,...
25904,16816,15448,2023-10-13,UNILIGHT REINSURANCE BROKERS PVT LTD,BHARATIYA JANATA PARTY,"10,00,000",Paid
25905,16817,15429,2023-10-13,UNILIGHT REINSURANCE BROKERS PVT LTD,BHARATIYA JANATA PARTY,"10,00,000",Paid
25906,16818,15753,2023-10-13,UNILIGHT REINSURANCE BROKERS PVT LTD,BHARATIYA JANATA PARTY,"10,00,000",Paid
25907,18471,15753,2024-01-10,ASKUS LOGISTICS PVT LTD,BHARATIYA JANATA PARTY,"1,00,00,000",Paid
25992,18635,2614,2024-01-10,VALLURUPALLI PRABHU KISHORE,BHARATIYA JANATA PARTY,"10,00,000",Paid

In [44]:
df_final = df_test.sort_values('Date of\nPurchase',ascending=False)

In [45]:
df_final1 = df_final[df_final['Status']=='Paid']

In [46]:
df_final1

,Sr No._x,Bond Number,Date of\nPurchase,Name of the Purchaser,Name of the Political Party,Denominations_x,Status
20666,18646,11602,2024-01-11,DYNERE ENGINEERING PRIVATE LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid
20655,18652,11604,2024-01-11,DYNERE ENGINEERING PRIVATE LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid
20659,18653,11620,2024-01-11,DYNERE ENGINEERING PRIVATE LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid
20661,18654,11616,2024-01-11,DYNERE ENGINEERING PRIVATE LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid
20663,18649,11618,2024-01-11,DYNERE ENGINEERING PRIVATE LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid
...,...,...,...,...,...,...,...
370,199,7028,2019-04-12,PHL FINIVEST PVT LTD,BHARATIYA JANATA PARTY,"1,00,00,000",Paid
371,200,6690,2019-04-12,PHL FINIVEST PVT LTD,BHARATIYA JANATA PARTY,"1,00,00,000",Paid
372,201,6700,2019-04-12,PHL FINIVEST PVT LTD,BHARATIYA JANATA PARTY,"1,00,00,000",Paid
373,202,7044,2019-04-12,PHL FINIVEST PVT LTD,BHARATIYA JANATA PARTY,"1,00,00,000",Paid
0,1,11448,2019-04-12,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,"10,00,000",Paid

In [52]:
df_list = pd.Series(df_final1['Name of the Purchaser'])

In [59]:
df_final3 = df_list.value_counts()

In [61]:
df_final3

Name of the Purchaser
MEGHA ENGINEERING AND INFRASTRUCTURES LI MITED    601
QWIKSUPPLYCHAINPRIVATELIMITED                     514
VEDANTA LIMITED                                   335
MADANLAL LTD.                                     209
TORRENT POWER LTD                                 197
                                                 ...
INDUS INDUSTRIAL TEC                                1
KONERU RAVITEJA                                     1
GOURAB ROY                                          1
AAKANKSHA BAHETY                                    1
PATEL HIGHWAY MANAGEMENT PVT LTD                    1
Name: count, Length: 768, dtype: int64

In [65]:
df_final3.head(50)

Name of the Purchaser
MEGHA ENGINEERING AND INFRASTRUCTURES LI MITED           601
QWIKSUPPLYCHAINPRIVATELIMITED                            514
VEDANTA LIMITED                                          335
MADANLAL LTD.                                            209
TORRENT POWER LTD                                        197
KEVENTER FOODPARK INFRA LIMITED                          165
FUTURE GAMING AND HOTEL SERVICES PR                      160
HALDIA ENERGY LIMITED                                    146
DLF COMMERCIAL DEVELOPERS LIMITED                        130
J.K.CEMENT LTD.                                          104
UNITED PHOSPHORUS INDIA LLP                               73
PRARAMBH SECURITIES PVT LTDPROPRIET                       72
TRANSWAYS EXIM PRIVATE LIMITED                            71
DHARIWAL INFRASTRUCTURE LIMITED                           70
UM CABLES LIMITED                                         69
BHARTI AIRTEL LIMITED                                     66
V M SALGAOCAR CORPORATION PVT LTD                         62
NCC LIMITED                                               60
INFINA FINANCE PRIVATE LIMITED                            60
BIRLACARBONINDIAPRIVATELIMITED                            60
PATEL ENGINEERING LTD.                                    60
MEGHA ENGINEERING AND INFRASTRUCTURES LTD                 60
ESSEL MINING AND INDS LTD                                 60
LAKSHMI NIWAS MITTAL                                      60
SHYAM STEEL MANUFACTURING LTD. (FLY SOVA  ISPAT LTD.)     56
SWAL CORPORATION LIMITED                                  55
MUTHOOT FINANCE LTD                                       55
TORRENT  POWER  LIMITED                                   53
KEYSTONE REALTORS PVT LTD                                 52
MODERN ROAD MAKERS PVT. LTD.                              51
VILLAGE DE NANDI PVT LTD RERA DESIG                       50
VARDHMAN TEXTILES LTD                                     49
LAXMI CIVIL ENGINEERING SERVICES PR                       49
LCCPROJECTSPRIVATELIMITED                                 45
PHL FINIVEST PVT LTD                                      45
NAVAYUGA  ENGINEERING COMPANY LIMITED                     45
BHARTI AIRTEL LIMITEDAIRTEL CURRE NT AC-GCO               45
MKJ ENTERPRISES LTD                                       44
MANKIND PHARMA LIMITED                                    43
B G SHIRKE CONSTRUCTION TECHNOLOGY PVT L TD               43
IFB AGRO INDUSTRIES LIMITED                               41
NEXG DEVICES PVT LTD                                      40
SHRI JAGANNATH STEELS & POWER LTD                         40
MAHINDRA & MAHINDRA LTD                                   40
MKJ ENTERPRISES LIMITED                                   39
JINDAL SAW LIMITED                                        39
CIPLA LIMITED                                             39
FINOLEX CABLES LTD                                        38
TORRENT PHARMACEUTICALS LIMITED                           38
RASHMI CEMENT LTD                                         38
Name: count, dtype: int64